<!DOCTYPE html>
<html lang="en" xmlns:th = http://www.thymleaf.org>
<head>
    <meta charset="UTF-8">
    <title>Not found Exception</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


</head>
<body>

<div class="container-fluid" style="margin: 20px;">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1 align="center"> Not found Exception : 400</h1>

            <p align="center" th:text="${exception.getMessage()}"></p>


        </div>
    </div>


</div>


</body>
</html>